.vscode
.DS_Store
build
*.o
*.i
*.so
*.exe
.SpotLight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.gch
*.dSYM
html/
logs/
data/tmp/
data/html/
data/crawledLinks.txt
data/toShip/
src/mvp/data/tmp/
certificate.pem
key.pem
cronresult.txt
data/instanceInfo.txt
.chris*
*.dex
jasina*
