@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.center {
	color: red;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #990000;
  border-right: none;
  padding: 5px;
  height: 50px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #990000;
}

.searchTerm:focus{
  color: #000000;
}

.searchButton {
  width: 100px;
  height: 50px;
  border: 1px solid #990000;
  background: #990000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Results Page CSS style */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.leftIndent {
    text-align: left;
    text-indent: 100px;
    margin-top: 50px;
}

.results {
    padding-left: 0px;
}

.result {
    padding-top: 15px;
}
